<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
   <add key="ConnectionString" value="Server=172.21.0.65;Port=5432;User Id=pl_db_user1;Password=pl_db_user1;Database=pl_db;"/>
   <!--<add key="ConnectionString" value="Server=localhost;Port=5432;User Id=developer1;Password=developer1;Database=cas_db;"/>-->  
   <add key="NarrativeIDLimit" value="999"/>
   <add key="licencekey" value="6223564097778256763372256"/>
   <add key="canformat" value="2,6"/>
   <add key="shipment_id" value="4"/>
   <add key="CASUSERNAME" value=""/>
   <add key="TimerInterval" value="15000"/>
   <add key="PuttyKeyPath" value="Software\SimonTatham\PuTTY\SshHostKeys" />
   <add key="KeyValue" value="0x23,0xa0f5aa3ebc2957eb2a00409e22dee5db16d2a4105c4f0e7c8653c58c5324fc6115d23affb4cf23175fe95e69d162c498596e0c70505780b7f58c9f3c9e3978a9562e7afffd5226d7cc66cedb8d09a9483692df7f303ec1f74415bbedb070450f8f18559ddbdcbf21b038fd6d3951f1318184b09519749a11084dc5ed674f64da4e12b04c6ee5509e5fdb60f30b40fbfa67ae33e16e9476a70fa7db1b398474213c989ca5303bf56ac384739196bcc7e275ab9ae702e430c5b39e4ada4ecf192ed8074fb125f104a9a6cf42c69e450ff4e28fce8d3213dc44ee86adb3690b010dd68175a72597b2965005d95df94d0c2af6b5acbf05b9162b25e5cea86ecb062b" />
   <add key="PuttyKey" value="rsa2@22:172.21.2.17" />
   <add key="pscpservername" value="172.21.2.17"/>
   <add key="pscpusername" value="root"/>
   <add key="pscppassword" value="gvkbio123" />
   <add key="ClientSettingsProvider.ServiceUri" value="" />
 
    <!--oracle server settings pr.pgvko1-->
    <add key="DBNAME" value="pr.pgvk01" />
    <add key="USERNAME" value="gKk3yAf5vjoFWTWK+WhsMQ=="/>
    <add key="PASSWORD" value="mU1CsjWnf0AU0FnjKPszGQ=="/>
    <add key="ORAPORTNUMBER" value="61011" />
    <add key="ORAHOST" value="155.94.58.24"/>
    <add key="ORASERVICENAME" value="pgvk01"/>
    <!--Service Name -->
    <!--<add key="PRDBKEY1" value="K17dNukzKgD1bO9vRfhzEw=="/>
    <add key="PRDBKEY2" value="DwZEnr7dgykhnJ+io7usLg=="/>
    <add key="PRDBKEY3" value="g8o8oc+y9ko/yGqDQHgIQg=="/>
    <add key="PRDBKEY4" value="155.94.58.35"/>-->
    <!--HostName -->
    <!--<add key="PRDBKEY5" value="61010"/>-->
    <!--PortNumber -->
    <!--<add key="PRDBKEY6" value="pprdb01"/>-->
    <!--Service Name -->
    
    <!--Piplinepilotsettings Settings-->

    <!--Pscp Key Settings-->
  </appSettings>
 </configuration>